[submodule "verl"]
	path = train/verl
	url = https://github.com/volcengine/verl.git
[submodule "affine-cortex"]
	path = evaluate/affine-cortex
	url = https://github.com/AffineFoundation/affine-cortex.git
